.listine-item-continer {
  //   display: flex;
  justify-content: center;
  //   overflow: auto;
  //   height: 500px;
  width: 500px;
  border: 1px solid gray;
  margin: auto;
  margin-top: 200px;
}
